* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .footer {
    background-color: brown;
    color: rgb(214, 205, 193);
} 
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #02223d;
    color: rgb(165, 149, 127);
} 