* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.plus {
    font-size: 25px;
    background-color: #02223d;
    border-radius: 20px;
    margin-top: 8px;
    transition: transform 1s ease;
}
.plus:hover {
    transform: rotate(360deg);
}
.add sup {
    visibility: hidden;  
    opacity: 0;          
    transition: opacity 2s ease;  
  }
  
  .add:hover sup {
    visibility: visible; 
    opacity: 1;          
  }
  
.add {
    display: flex;
    transition: all 1s ease;
}

.header, .footer {
    background-color: brown;
    color: rgb(214, 205, 193);
} 
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #02223d;
    color: rgb(165, 149, 127);
} 
.item {
    list-style: none;
    background: #363801;
    padding: 10px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 20px;
}
.item:hover {
    box-shadow: 0 4px 8px 0 rgba(114, 113, 113, 0.2), 0 6px 20px 0 rgba(112, 111, 111, 0.19);;
}
.item input[type="checkbox"] {
   text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.item input[type="checkbox"]:focus + label {
    color: #02223d;
}
.svg {
    font-size: 22px;
    color: rgb(8, 155, 143);
    transition: all 1s ease-in-out;
    cursor: pointer;
    outline: none;
}
.svg:focus, .svg:hover {
    font-size: 25px;
    color: rgb(211, 15, 15);
}