* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
}
.header, .footer {
    background-color: brown;
} 
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #02223d;
} 