.card {
    border: 1px solid gray;
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
    width: 30%;
}

.cardflex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}